<p id="notice"><%= notice %></p>

<p>
  <b>Set year:</b>
  <%= @web_site.set_year %>
</p>

<p>
  <b>Project num:</b>
  <%= @web_site.project_num %>
</p>

<p>
  <b>Year rate:</b>
  <%= @web_site.year_rate %>
</p>

<p>
  <b>Service phone:</b>
  <%= @web_site.service_phone %>
</p>

<p>
  <b>Name:</b>
  <%= @web_site.name %>
</p>

<p>
  <b>Lv:</b>
  <%= @web_site.lv %>
</p>

<p>
  <b>City:</b>
  <%= @web_site.city %>
</p>

<p>
  <b>Desc:</b>
  <%= @web_site.desc %>
</p>


<%= link_to 'Edit', edit_web_site_path(@web_site) %> |
<%= link_to 'Back', web_sites_path %>
