!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t('pn') 
    %meta{:name => "description", :content => "速贷"}
    %meta{:name => "author", :content => "Evan"}
    = stylesheet_link_tag "application", :media => "all" 
    = javascript_include_tag "application"
    = csrf_meta_tags 
    = yield(:head)
  %body
    %header{:class => "navbar navbar-fixed-top"}
      %nav{:class => "navbar-inner"}
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages' 
              = yield
          %footer 
          
    %script $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}}) 